@import "./themes/bruin.scss";

@import "@material/theme/mdc-theme";
@import "@material/elevation/mdc-elevation";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";

$link-hover: #0057A1;

a {
    color: #0070CF;
    text-decoration: none;
}

a:hover {
    color: $link-hover;
    text-decoration: underline;
}

a:focus {
    color: $link-hover;
}

a:active {
    color: $link-hover;
}

.material-icons {
    font-size: 1rem;
    vertical-align: text-bottom;
}

.material-icons.pink {
    color: #FF2D55;
}

.mdc-top-app-bar {
    position: static;
}

footer {
    @include mdc-elevation(2);
    padding: 24px;
    @media (min-width: 600px) {
        padding: 24px 48px;
    }
}
